/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/**font **/
@font-face {
  font-family: "magic_retroregular";
  src: url("fonts/magic_retro-webfont.woff2") format("woff2"), url("fonts/magic_retro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bright_demoregular";
  src: url("fonts/bright_demo-webfont.woff2") format("woff2"), url("fonts/bright_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*font-family: 'Montserrat Alternates', sans-serif;*/

/*generel*/
body {
  background-color: #f9f6ee;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: "bright_demoregular";
  font-size: 10cqw;
  color: #2927ce;
  text-align: center;
  margin-top: 50px;
}

p,
li a {
  font-family: "Montserrat Alternates", sans-serif;
  color: #54544b;
  text-decoration: none;
}
/** menu**/

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}

/* .nav-link:hover {
  color: #fadec0;
} */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #54544b;
}
header .nav-bar .nav-menu a {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  color: #54544b;
  font-size: 2rem;
}

@media (max-width: 780px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -110%;
    top: -15px;
    gap: 0;
    flex-direction: column;
    background-color: #f9f6ee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  header .nav-bar .nav-menu a {
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    color: #54544b;
    font-size: 2rem;
  }
  .navbar {
    justify-content: flex-end;
  }

  /* .nav-menu a:hover {
    color: #f5b9ba;
  } */
}
.nav-menu {
  list-style-type: none;
}

/*Forside*/

.forsidegrafik {
  background-image: url(/billeder/forsidegrafik.svg);
  background-size: cover;
  max-height: max-content;
  z-index: -100;
  background-repeat: no-repeat;
}

/* #forside_grafik_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1100/950;
  cursor: pointer;
}

#forside_grafik_container {
  width: 100%;
  height: 100%;
  background-image: url(/billeder/forsidegrafik.svg);
  background-size: cover;
  z-index: -100;
  top: -11%;
  left: 5%;
} */

/* .container img {
  aspect-ratio: 1100/950;
  width: 1280px;
  height: 941px;
}

.container {
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1/1;
} */

/* timeline */
.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #2927ce;
}

.timeline_component {
  margin: 0 20px 20px 20px;
}

.timeline_component h3 {
  text-align: center;
  padding: 25px 25px 25px 0;
}

.timeline_bar,
.timeline_point {
  color: #2927ce;
}
.timeline_bar {
  position: relative;
  background: #2927ce;
}

.right {
  text-align: right;
}

.timeline_point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #2927ce;
  border-radius: 50%;
}

.background {
  background-color: rgba(255, 246, 246, 0.46);
  border-radius: 10px;
  padding: 1.5em;
}
