/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/**font **/
@font-face {
  font-family: "magic_retroregular";
  src: url("fonts/magic_retro-webfont.woff2") format("woff2"), url("fonts/magic_retro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bright_demoregular";
  src: url("fonts/bright_demo-webfont.woff2") format("woff2"), url("fonts/bright_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*font-family: 'Montserrat Alternates', sans-serif;*/

/*generel*/

.top p,
.top h2 {
  padding-left: 20px;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

body {
  background-color: #f9f6ee;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: "bright_demoregular";
  font-size: 7cqw;
  color: #2927ce;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0.5em;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #4a4a44;
  font-weight: 700;
  padding: 1em 0 0.5em 0.8em;
  margin: 17px 0 10px 0;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #4a4a44;
  font-weight: bold;
  padding: 1em 0 0.5em 0.8em;
}

.link,
.link a {
  font-family: "Montserrat Alternates", sans-serif;
  color: #2927ce;
  font-weight: bold;
  padding: 1em;
  text-align: right;
  text-decoration: none;
}
.ikke_link {
  opacity: 50%;
}

span .link a {
  opacity: 100%;
}
.link a:hover {
  opacity: 50%;
}

p,
li a,
#anker a {
  font-family: "Montserrat Alternates", sans-serif;
  color: #54544b;
  text-decoration: none;
}

img {
  margin: 0 10px 10px 10px;
  /* max-width: 100%; */
}
p {
  line-height: 2;
  margin: 0 20px 20px 20px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.forsidelogo img {
  width: 100px;
}
/** menu**/

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  gap: 90px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  margin-top: 20px;
}

.nav-link {
  transition: 0.7s ease;
}

/* .nav-bar .nav-link:hover {
  color: #fffcf2;
} */
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #54544b;
}
header .nav-bar .nav-menu a {
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  color: #54544b;
  font-size: 2rem;
}

.logo {
  margin-top: 10px;
}
@media (max-width: 780px) {
  .navbar {
    justify-content: flex-start; /* Align items to the start */
  }

  .logo {
    margin-right: auto; /* Move logo to the left */
  }
  .hamburger {
    display: block;
    z-index: 11;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -110%;
    top: -15px;
    gap: 0;
    flex-direction: column;
    background-color: #f9f6ee;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
    z-index: 10;
  }
  header .nav-bar .nav-menu a {
    font-family: "Montserrat Alternates", sans-serif;
    text-decoration: none;
    color: #54544b;
    font-size: 2rem;
  }
  .navbar {
    justify-content: flex-end;
  }

  .nav-menu a:hover {
    color: #fffcf2;
  }
  header .navbar .logo {
    max-height: 100px;
    max-width: 100%;
  }
}
.nav-menu a:hover,
.timeline .timeline_component a h3:hover,
#anker p a:hover {
  color: #fffcf2;
}
.nav-menu {
  list-style-type: none;
}

/*Forside*/

.forsidegrafik {
  background-image: url(billeder/forsidegrafik.svg);
  background-size: cover;
  max-height: max-content;
  z-index: -100;
  background-repeat: no-repeat;
}

/* #forside_grafik_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 1100/950;
  cursor: pointer;
}

#forside_grafik_container {
  width: 100%;
  height: 100%;
  background-image: url(/billeder/forsidegrafik.svg);
  background-size: cover;
  z-index: -100;
  top: -11%;
  left: 5%;
} */

/* .container img {
  aspect-ratio: 1100/950;
  width: 1280px;
  height: 941px;
}

.container {
  display: grid;
  place-items: center;
}

img,
h1 {
  grid-area: 1/1;
} */

/* timeline */
.timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  font-family: "Fira Sans", sans-serif;
  color: #2927ce;
}

.timeline_component {
  margin: 0 10px 10px 10px;
}

.timeline_component h3,
.timeline_component a {
  text-align: center;
  padding: 15px 15px 0;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
}

.background:hover {
  background-color: rgba(188, 186, 186, 0.301);
  /* border-radius: 10px;
  padding: 1.5em; */
}

.timeline_bar,
.timeline_point {
  color: #2927ce;
}
.timeline_bar {
  position: relative;
  background: #2927ce;
}

.right {
  text-align: right;
}

.timeline_point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #2927ce;
  border-radius: 50%;
}

.background {
  background-color: rgba(255, 246, 246, 0.46);
  border-radius: 10px;
  padding: 0.2em;
}

/** web **/

#web_blibblob_container {
  display: block;
  position: absolute;
  width: 15%;
  aspect-ratio: 640/575;
  top: 105%;
  left: 10%;
  transform: rotate(76deg);
  z-index: -1;
}
#blibblob {
  background-image: url(billeder/blibblob.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
  z-index: -1;
}

#web_mindre_rund_blob_container {
  display: block;
  position: absolute;
  width: 15%;
  aspect-ratio: 315/295;
  top: 201%;
  left: 76%;
  z-index: -1;
}
#mindre_rund_blob {
  background-image: url(billeder/mindre_rund_blob.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
}

/** uxui **/

#uxui_blibblob_container {
  display: block;
  position: absolute;
  width: 20%;
  aspect-ratio: 640/575;
  top: 74%;
  left: 71%;
  transform: rotate(1deg);
  z-index: -1;
}

#uxui_rund_blob_container {
  display: block;
  position: absolute;
  width: 17%;
  aspect-ratio: 450/470;
  top: 186%;
  left: 1%;
  transform: rotate(-101deg);
  z-index: -1;
}

#rund_blob {
  background-image: url(billeder/rund_blob.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
}

.ux_container,
.elementer_container,
.process_container,
.pp_container {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  /* background: rgb(251, 156, 108);
  background: radial-gradient(circle, rgba(251, 156, 108, 1) 4%, rgba(176, 226, 153, 1) 18%, rgba(252, 70, 107, 0) 34%); */
}

.element_box {
  padding: 0 10px;
  margin: 0 50px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.element_box img {
  width: 200px;
  height: auto;
}
.ux_box,
.process_box,
.pp_box {
  /* scroll-snap-align: start;
  width: 1000px;
  height: 500px; */
  /* width: 360px; */
  padding: 0 10px;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ux_box .text_box {
  margin: 0 10px 0 10px;
  width: 400px;
  /* background-color: #e7d8a2; */
}
.ux_box img,
.process_box img {
  width: 400px;
  border: 1px solid #2927ce;
}

.pp_box img {
  width: 500px;
  border: 1px solid #2927ce;
}
.ux_box .grid_1-2,
.process_box .grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid_1-2 {
  margin-top: 35px;
  margin-bottom: 50px;
}

/* animation */
#ani_mindre_rund_blob_container {
  display: block;
  position: absolute;
  width: 18%;
  aspect-ratio: 315/295;
  top: 426%;
  left: 76%;
  z-index: -1;
}

#ani_kantet_blob_container {
  display: block;
  position: absolute;
  width: 27%;
  aspect-ratio: 596/610;
  top: 85%;
  left: 55%;
  transform: rotate(-101deg);
  z-index: -1;
}
#kantet_blob {
  background-image: url(billeder/kantet_blob.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
}
#ani_blibblob_container {
  display: block;
  position: absolute;
  width: 25%;
  aspect-ratio: 640/575;
  top: 310%;
  left: 8%;
  transform: rotate(71deg);
  z-index: -1;
}

@media (max-width: 800px) {
  .grid_mobil {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ux_box img {
    height: 300px;
    width: 300px;
  }

  .display {
    display: none;
  }
}

/* om mig */

.mitbillede {
  clip-path: circle(50% at 50%);
}

.programmer li {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 3cqw;
}
.programmer ul {
  margin-left: 100px;
}

#vscode {
  list-style-image: url(billeder/vscode.svg);
  margin: 10px 20px 10px 10px;
}
#illustrator {
  list-style-image: url(billeder/illustrator.svg);
  margin: 10px 20px 10px 10px;
}
#photoshop {
  list-style-image: url(billeder/photoshop.svg);
  margin: 10px 20px 10px 10px;
}
#premierepro {
  list-style-image: url(billeder/premierepro.svg);
  margin: 10px 20px 10px 10px;
}
#figma {
  list-style-image: url(billeder/figma.svg);
  margin: 10px 20px 10px 10px;
}

/** videosite**/

#video_blibblob_container {
  display: block;
  position: absolute;
  width: 22%;
  aspect-ratio: 640/575;
  top: 246%;
  left: 39%;
  transform: rotate(11deg);
  z-index: -1;
}

#video_rund_blob_container {
  display: block;
  position: absolute;
  width: 24%;
  aspect-ratio: 450/470;
  top: 58%;
  left: -4%;
  transform: rotate(-39deg);
  z-index: -1;
}
